<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="coffesploit" />
		<meta name="author" content="" />

		<title>Coffesploit</title>

		<link rel="stylesheet" href="http://fonts.useso.com/css?family=Arimo:400,700,400italic">
		<link rel="stylesheet" href="/static/assets/css/fonts/linecons/css/linecons.css">
		<link rel="stylesheet" href="/static/assets/css/fonts/fontawesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/assets/css/bootstrap.css">
		<link rel="stylesheet" href="/static/assets/css/xenon-core.css">
		<link rel="stylesheet" href="/static/assets/css/xenon-forms.css">
		<link rel="stylesheet" href="/static/assets/css/xenon-components.css">
		<link rel="stylesheet" href="/static/assets/css/xenon-skins.css">
		<link rel="stylesheet" href="/static/assets/css/custom.css">

		<script src="/static/assets/js/jquery-1.11.1.min.js"></script>

	</head>

	<body class="page-body">

		<!-- Bottom Scripts -->
		<script src="/static/assets/js/bootstrap.min.js"></script>
		<script src="/static/assets/js/TweenMax.min.js"></script>
		<script src="/static/assets/js/resizeable.js"></script>
		<script src="/static/assets/js/joinable.js"></script>
		<script src="/static/assets/js/xenon-api.js"></script>
		<script src="/static/assets/js/xenon-toggles.js"></script>

		<!-- JavaScripts initializations and stuff -->
		<script src="/static/assets/js/xenon-custom.js"></script>
		<script src="/static/assets/js/coffesploit.js"></script>
		<!--加载动画-->
		<div class="page-loading-overlay">
			<div class="loader-2"></div>
		</div>
		<div class="page-container">
			<!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

			<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
			<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
			<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
			<div class="sidebar-menu toggle-others fixed">

				<div class="sidebar-menu-inner">

					<header class="logo-env">

						<!-- logo -->
						<div class="logo">
							<a href="/index" class="logo-expanded">
								<h2 style="color: #00b4f5">Coffesploit</h2>
							</a>

							<a href="/index" class="logo-collapsed">
								<img src="/static/assets/images/logo-collapsed@2x.png" width="40" alt="" />
							</a>
						</div>

						<!-- This will toggle the mobile menu and will be visible only on mobile devices -->
						<div class="mobile-menu-toggle visible-xs">
							<a href="#" data-toggle="user-info-menu">
								<i class="fa-bell-o"></i>
								<span class="badge badge-success">7</span>
							</a>

							<a href="#" data-toggle="mobile-menu">
								<i class="fa-bars"></i>
							</a>
						</div>

						<!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
						<div class="settings-icon">
							<a href="#" data-toggle="settings-pane" data-animate="true">
								<i class="linecons-cog"></i>
							</a>
						</div>

					</header>

					<ul id="main-menu" class="main-menu">
						<!-- add class "multiple-expanded" to allow multiple submenus to open -->
						<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
						<li>
							<a>
								<i class="linecons-globe"></i>
								<span class="title">开始</span>
							</a>
							<ul>
								<li>
									<a href="javascript:;" onclick="jQuery('#new_mession').modal('show', {backdrop: 'fade'});" class="btn btn-primary btn-single btn-sm">新建任务</a>
								</li>
								<li>
									<a href="javascript:;" onclick="jQuery('#export_report').modal('show', {backdrop: 'fade'});" class="btn btn-primary btn-single btn-sm">导出报告</a>
								</li>
							</ul>
						</li>
						<li id="plugin_list">
							<a>
								<i class="linecons-beaker"></i>
								<span class="title">插件列表</span>
								<span id="plugin_num" class="label label-purple pull-right hidden-collapsed"></span>
							</a>
							<ul>
								<li>
									<a>
										<span class="title">Scan Plugin</span>
									</a>
									<ul id="scan">
									</ul>
								</li>
								<li>
									<a href="#">
										<span class="title">Exploit Plugin</span>
									</a>
                                    <ul id="exploit">
                                    </ul>
								</li>
                                <li>
									<a href="#">
										<span class="title">Payload Plugin</span>
									</a>
                                    <ul id="payload">
                                    </ul>
								</li>
							</ul>
						</li>
					</ul>

				</div>

			</div>
			<div class="main-content">
				<!-- 顶部菜单栏-->
				<nav class="navbar user-info-navbar" role="navigation">
                    <ul>
                        <h2>
                            {% if title %}
                                <strong>{{title}}</strong>
                            {% else %}
                                <strong>Welcome</strong>
                            {% endif %}
                        </h2>
                    </ul>
				</nav>
                <div id="main">
{#                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <ul>
                                {% for message in messages %}
                                    <li> {{message}} </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endwith %}#}
                     {% block content %}{% endblock %}
                </div>
				<!-- Main Footer -->
				<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
				<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
				<!-- Or class "fixed" to  always fix the footer to the end of page -->
				<footer class="main-footer sticky footer-type-1">
					<!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
					<div class="go-up">
						<a href="#" rel="go-top">
							<i class="fa-angle-up"></i>
						</a>
					</div>
				</footer>
			</div>

			<!--新建任务弹出界面-->
			<!--只需要扫描存活主机-->
			<div class="modal fade" id="new_mession">
				<div class="modal-dialog">
					<div class="modal-content">

						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">新建任务</h4>
							<h6 class="modal-body">* 为必填项</h6>
						</div>

						<div class="modal-body">
							<div class="row">
								<div class="col-md-12 form-group">
									<label for="ip" class="control-label">目标地址 *</label>
									<input type="text" class="form-control" id="ip" placeholder="192.168.0.1; 10.0.0-255.1-254">
								</div>

								<div class="col-md-12">
									<div class="form-group no-margin">
										<label for="field-7" class="control-label">备注</label>
										<textarea class="form-control autogrow" id="field-7" placeholder="写点什么吧"></textarea>
									</div>
								</div>

							</div>
							<!--弹窗底部-->
							<div class="modal-footer">
								<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-info">保存</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--导出报告-->
			<div class="modal fade" id="export_report" data-backdrop="static">
				<div class="modal-dialog">
					<div class="modal-content">

						<div class="modal-header">
							<h4 class="modal-title">导出报告</h4>
						</div>

						<div class="modal-body">

							<button onclick="">导出</button>

						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
						</div>
					</div>
				</div>
			</div>
		</div>
    <script>
        plugin_list =  $.ajax({
            url : "/plugin_list",
            async : false
        });
        num = 0;
        console.log(plugin_list.responseText);
        $.each(plugin_list.responseJSON, function(name,val) {
            console.log(name,val);
            var i;
            if (name == "scan"){
                for (i=0;i<val.length;i++){
                    num++;
                    content = "<li>" + "<a href=\"\\plugin\\" +val[i] + "\">" + "<span class=\"title\">"
                    + val[i] + "</span></a></li>";
                    $("#scan").append(content);
                }
            }
            if (name == "exploit"){
                for (i=0;i<val.length;i++){
                    num++;
                    content = "<li>" + "<a href=\"plugin\\" +val[i] + "\">" + "<span class=\"title\">"
                    + val[i] + "</span></a></li>";
                    $("#exploit").append(content);
                }
            }
            if (name == "payload"){
                for (i=0;i<val.length;i++){
                    num++;
                    content = "<li>" + "<a href=\"plugin\\" +val[i] + "\">" + "<span class=\"title\">"
                    + val[i] + "</span></a></li>";
                    $("#payload").append(content);
                }
            }
        });
        $("#plugin_num").html(num);
    </script>
	</body>
</html>