<{% extends "base.html" %}
{% block content %}
{% if result  %}
        {# not a string #}
        {% if result is string %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{result}}
            </div>
        </div>
        {% else %}
        {% for arg in result %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> {{arg}}</h3>
            </div>
            <div class="panel-body"> {{result[arg]}}</div>
        </div>
        {% endfor %}
        {% endif %}
{% else %}
        <strong> argments wrong,result is None!</strong>
        {{link}}
{% endif %}
{% endblock %}